<style type="text/css">
  * { box-sizing: border-box; }
  body { font: 14px/1.5 sans-serif; color: #222; margin: 3em; }
  table, input { width: 100%; }
  th { text-align: left; }
</style>

<div ng-controller="KontactsController">
  <h1>Contacts</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Number</th>
    </tr>

    <tr ng-repeat="contact in contacts">
      <td>{{contact.name.first}} {{contact.name.last}}</td>
      <td>{{contact.email}}</td>
      <td>{{contact.number}}</td>
    </tr>
  </table>
</div>