<h2>Editing {{contact.first_name}} {{contact.last_name}}</h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Email</th>
    <th>Number</th>
  </tr>

  <tr>
    <td>
      <input ng-model="contact.first_name" ng-change="save()">
    </td>
    <td>
      <input ng-model="contact.last_name" ng-change="save()">
    </td>
    <td>
      <input ng-model="contact.email" ng-change="save()">
    </td>
    <td>
      <input ng-model="contact.number" ng-change="save()">
    </td>
  </tr>
</table>

<h4>Notes</h4>
<textarea ng-model="contact.notes" ng-change="save()" cols="30" rows="10"></textarea>

<br />
<a href="/kontacts">Back to list</a>